:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--Gris-claro);
}

.header-style{
    background-color: var(--Amarillo);
    padding: 10px;

}

.top-header{
    display: flex;
    align-items: center;
}

header div.logo{
    padding: 5px;
    width: 50%;
}

header nav{
    display: none;
}

.form{
    width: 50%;
}

.formularios{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 12px;
    align-items: space-evenly;
}

.formularios label{
    margin: 18px;
}

.formularios .botones-formulario{
    display: flex;
    margin-top: 14px;
    align-items: center;
    justify-content: space-evenly;
}

header .form .input{
    background-color: white;
    border: 1px solid black;
    outline: none;
    color: var(--Gris-oscuro);
    padding: 2px;
}

div.titulares{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: var(--Gris-oscuro);
    text-align: left;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

header ul li a{
    color: black;
}

div.burguer-menu{
    font-size: 12px;}

section.banner img{
    width: 100%;
}

.texto-tarjeta{
    text-align: center;}

div.burger-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.burger-menu i{
    display: flex;
    background-color: var(--Celeste);
    border-radius: 7px;
    color: white;
    font-size: 20px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    width: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.precio{
    font-size: 18px;
}

.descuentos{
    color: var(--Verde);
    font-size: 16px;
    align-content: center;
    margin-left: 12px
}

.descripcion{
    display: flex;
    font-size: 16px;
    font-weight: normal;
    color: var(--Gris-oscuro);
    margin-bottom: 15px;
    display: block;
    visibility: hidden;
}

.producto:hover .descripcion{
    visibility: visible;
}

.main-container .ultima-visita{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-container .ofertas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-container section article{
    display: block;
    background-color: white;    
    margin: 10px;
    box-shadow: 0px 0px 10px var(--Gris-oscuro);
    box-sizing: border-box;
}

.main-container section article img{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.main-container section article i,
.discount{
    color: var(--Verde);
}

.main-container section article i{
    display: flex;
    font-size: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--Verde);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    justify-content: space-evenly;
    align-items: center;
}

article div.articulo-principal{
    position: relative;
    display: flex;
    width: 90%;
    border-top: 1px solid #ebebeb;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

.precio-y-descuentos{
    display: flex;
}

.footer-style{
    background-color: var(--Gris-claro);
    padding: 12px;
    box-sizing: border-box;
}

.footer-text-style{
    text-align: center;
}

.iconos-footer{
    color: var(--Celeste);
    font-size: 32px;
}

.copyrigth{
    font-size: 8px;
    text-align: left;
}

/* Tablets: */
@media (min-width: 426px){
    body{
        font-family: 'Roboto', sans-serif;
        background-color: var(--Gris-claro);
    }

    .top-header{
        display: flex;
        align-items: center;
    }

    .top-header .logo{
        width: 50%;
    }

    .top-header .form{
        width: 50%
    }

    .top-header .texto-tarjeta{
        font-size: 15px;
        margin-right: 6px;
        margin-left: auto;
    }
    
    div.burger-menu{
        display: none;
    }

    .nav-bar-container{
        display: flex;
    }

    .nav-bar01{
        display: flex;
        list-style: none;
        font-size: 14px;
        margin-left: 2px;
        flex-wrap: wrap;
        padding-left: 0px;
    }

    .nav-bar01 li{
        padding-left: 25px;
    }

    .nav-bar02{
        display: flex;
        list-style: none;
        font-size: 14px;
        margin-right: 1px;
        margin-left: auto;
        padding-right: 12px;
    }

    .nav-bar02 li{
        padding-left: 25px;
    }

    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 5px;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }

    .titulares{
        width: 100%;
    }

    .producto{
        display: flex;
        flex-direction: row;
        width: 45%;
    }



}


/* Laptop */
@media (min-width: 1024px){
    body{
        font-family: 'Roboto', sans-serif;
        background-color: var(--Gris-claro);
    }

    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }

    .titulares{
        width: 100%;
    }

    .producto{
        display: flex;
        flex-direction: row;
        width: 23%;
    }

    .footer-caracteristicas{
        position: relative;
        display: flex;
        flex-direction: row;
    }

}